/* Global styles... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin-left: 20px !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin-left: 20px !important;
}

/* aws auth page */
.amplify-button--primary {
  background-color: #356cb6 !important;
  color: white !important;
}

.amplify-button--primary:hover {
  background-color: #225395 !important;
  color: white !important;
}

.amplify-button--link {
  color: #356cb6 !important;
}

.amplify-tabs__item--active {
  color: #356cb6 !important;
  border-top: 2px solid #356cb6 !important;
}

.mapboxgl-ctrl-group .mapbox-gl-draw_ctrl-draw-btn[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0; /* show below button */
  left: 25px;

  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;

  pointer-events: none;
  z-index: 1000;
}

.line-length-popup .mapboxgl-popup-content {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.line-length-display {
  text-align: center;
}
